In [2]:
import pandas as pd
import numpy as np

In [3]:
#Read the file into pandas
income = pd.read_csv('https://raw.githubusercontent.com/mandiemannz/personalincome1/master/personal_income1.csv')
income

,Table 2.1. Personal Income and Its Disposition,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,[Billions of dollars] Seasonally adjusted at a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Last Revised on: February 28, 2017 - Next Rele...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Line,,2014,2014,2014,2014,2015,2015,2015,2015,2016,2016,2016,2016
4,Line,,I,II,III,IV,I,II,III,IV,I,II,III,IV
5,1,Personal income,14487.2,14718.1,14927.5,15106.2,15185.9,15401.9,15556.1,15690.2,15740.1,15929.4,16111.1,16266.8
6,2,Compensation of employees,9108.3,9173.8,9299.6,9432.1,9502.3,9637.6,9740,9892.4,9892.6,10046.5,10186.8,10280.5
7,3,Wages and salaries,7350.3,7405.7,7516.5,7632.8,7692,7808.8,7893.9,8024.6,8011.3,8142.9,8262.3,8341.1
8,4,Private industries,6127.6,6174.3,6274.7,6381.9,6433.8,6537.8,6613.8,6735.8,6715.2,6838.5,6943.6,7016.2
9,5,Government,1222.7,1231.5,1241.8,1250.9,1258.2,1271,1280.1,1288.9,1296.1,1304.4,1318.6,1324.9
10,6,Supplements to wages and salaries,1758,1768.1,1783.1,1799.3,1810.3,1828.7,1846.1,1867.8,1881.3,1903.6,1924.5,1939.4
11,7,Employer contributions for employe...,1217.9,1225.4,1233.6,1242.3,1252.4,1263.5,1276.1,1290,1304.9,1319.4,1333.4,1344
12,8,Employer contributions for governm...,540.1,542.7,549.5,557,558,565.2,570,577.8,576.4,584.1,591.1,595.4
13,9,Proprietors' income with inventory valuati...,1304,1336.5,1345,1365.6,1351.1,1366.1,1389,1400.9,1403.9,1407.8,1420.8,1438.1
14,10,Farm,70,78.9,64.1,61,38.4,38.7,44.6,38.1,32.3,29.8,28.3,21.8
15,11,Nonfarm,1234,1257.6,1280.8,1304.5,1312.7,1327.4,1344.4,1362.8,1371.6,1378,1392.4,1416.3
16,12,Rental income of persons with capital cons...,590.1,599.6,611.3,623.3,636.5,656.6,668.1,677.3,692.8,700.6,705.9,721.3
17,13,Personal income receipts on assets,2148.7,2227.1,2264.9,2267.1,2240.4,2264.3,2275.1,2235.5,2235.9,2255.8,2270.3,2287.8
18,14,Personal interest income,1284.8,1302.4,1311.8,1304.6,1266,1315.9,1336.1,1293,1296.1,1310.2,1317.8,1332.3
19,15,Personal dividend income,863.9,924.8,953.1,962.5,974.4,948.5,939,942.5,939.8,945.5,952.5,955.6
20,16,Personal current transfer receipts,2476.3,2526.7,2566.1,2592.4,2638.9,2675.4,2692.1,2708.2,2744,2763.6,2786.5,2807.5
21,17,Government social benefits to persons,2433.1,2482.2,2519.9,2544.5,2589,2624.1,2640,2655.8,2691.4,2710.6,2733,2753.4
22,18,Social security 2,824.5,833.3,837.2,843.6,861.7,869.5,874.5,881.5,886.3,894.1,899.7,905.9
23,19,Medicare 3,590.7,597.9,604.7,611.1,617.3,624.1,631.6,639.8,650,659.2,666.2,671.6
24,20,Medicaid,456.6,476.9,502.7,513.5,524.9,540.9,545.3,547.3,555.6,558.8,570.7,582
25,21,Unemployment insurance,39,35.7,34,33.2,33.2,32.1,32,31.4,31.5,30.3,29.9,28.7
26,22,Veterans' benefits,82.7,82.8,84,85.3,87.7,89.4,90,92.2,93.1,95.2,95.7,97
27,23,Other,439.6,455.6,457.4,457.8,464.3,468.2,466.5,463.5,474.9,473,470.8,468.2
28,24,"Other current transfer receipts, from ...",43.2,44.6,46.2,47.9,49.9,51.3,52.1,52.4,52.6,53,53.5,54.1
29,25,Less: Contributions for government social ...,1140.2,1145.7,1159.4,1174.3,1183.3,1198.1,1208.3,1224.1,1229,1244.8,1259.1,1268.5
30,26,Less: Personal current taxes,1751.4,1755.6,1800,1840.9,1909.4,1937.2,1944.4,1963.8,1932.7,1952.1,1982.4,1998.3
31,27,Equals: Disposable personal income,12735.8,12962.4,13127.4,13265.3,13276.5,13464.7,13611.7,13726.4,13807.4,13977.3,14128.7,14268.5
32,28,Less: Personal outlays,12059.7,12228.2,12375,12524,12540.9,12691.2,12813.2,12899.6,12961.9,13154.5,13300.7,13467.9
33,29,Personal consumption expenditures,11636.1,11800.6,11941,12075.8,12098.9,12240.2,12356.9,12438.8,12498,12692.7,12832.2,12989.5
34,30,Personal interest payments 4,246.9,248.4,251.2,259.8,255.9,262.3,266.2,270.6,268,273,275.8,282
35,31,Personal current transfer payments,176.7,179.2,182.8,188.4,186,188.7,190.1,190.2,196,188.8,192.7,196.4
36,32,To government,96,97.5,99.1,100.6,102.2,103.3,103.9,104,108.2,108.2,108.8,109.8
37,33,To the rest of the world (net),80.7,81.7,83.8,87.8,83.8,85.4,86.2,86.2,87.8,80.6,84,86.6
38,34,Equals: Personal saving,676.1,734.2,752.5,741.2,735.6,773.5,798.5,826.8,845.5,822.8,828,800.6
39,35,Personal saving as a percentage of disposa...,5.3,5.7,5.7,5.6,5.5,5.7,5.9,6,6.1,5.9,5.9,5.6
40,,Addenda:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,36,Personal income excluding current transfer...,11057.9,11171.4,11297.1,11436.6,11513.6,11625.6,11717.8,11813.7,11818.2,11912.9,12012.9,12076.5
42,,Disposable personal income:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,37,"Total, billions of chained (2009) doll...",11725.3,11878,11997.2,12123.4,12183,12299.9,12398.9,12491,12556,12647.2,12737.9,12802.6
44,,Per capita:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,38,Current dollars,40049,40693,41128,41478,41447,41966,42343,42621,42807,43265,43651,44001
46,39,Chained (2009) dollars,36872,37289,37587,37907,38033,38336,38571,38785,38927,39148,39354,39481
47,40,"Population (midperiod, thousands)",318003,318543,319183,319817,320328,320846,321458,322058,322549,323064,323675,324275
48,,Percent change from preceding period:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,41,"Disposable personal income, current do...",6.6,7.3,5.2,4.3,0.3,5.8,4.4,3.4,2.4,5,4.4,4
50,42,"Disposable personal income, chained (2...",4.5,5.3,4.1,4.3,2,3.9,3.3,3,2.1,2.9,2.9,2
51,Legend / Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,1. Includes actual employer contributions and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,"2. Social security benefits include old-age, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,3. Medicare benefits include hospital and supp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,4. Consists of nonmortgage interest paid by ho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,5. The current-dollar measure is deflated by t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop the first 3 and last 6 rows that has null values.

In [4]:
newincome = income.drop(income.index[[0,1,2,51,52,53,54,55,56]])
newincome.head()

,Table 2.1. Personal Income and Its Disposition,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
3,Line,,2014,2014,2014,2014,2015,2015,2015,2015,2016,2016,2016,2016
4,Line,,I,II,III,IV,I,II,III,IV,I,II,III,IV
5,1,Personal income,14487.2,14718.1,14927.5,15106.2,15185.9,15401.9,15556.1,15690.2,15740.1,15929.4,16111.1,16266.8
6,2,Compensation of employees,9108.3,9173.8,9299.6,9432.1,9502.3,9637.6,9740,9892.4,9892.6,10046.5,10186.8,10280.5
7,3,Wages and salaries,7350.3,7405.7,7516.5,7632.8,7692,7808.8,7893.9,8024.6,8011.3,8142.9,8262.3,8341.1

In [5]:
#Rename all the columns
newincome.rename(columns={'Unnamed: 1':'Name', 'Unnamed: 2':'Q12014', 'Unnamed: 3':'Q22014', 'Unnamed: 4':'Q32014', 'Unnamed: 5':'Q42014'}, inplace=True)
newincome.columns

Index(['Table 2.1. Personal Income and Its Disposition', 'Name', 'Q12014',
       'Q22014', 'Q32014', 'Q42014', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13'],
      dtype='object')

In [6]:
newincome.rename(columns={'Unnamed: 6':'Q12015', 'Unnamed: 7':'Q22015', 'Unnamed: 8':'Q32015', 'Unnamed: 9':'Q42015'}, inplace=True)
newincome.columns

Index(['Table 2.1. Personal Income and Its Disposition', 'Name', 'Q12014',
       'Q22014', 'Q32014', 'Q42014', 'Q12015', 'Q22015', 'Q32015', 'Q42015',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [7]:
newincome.rename(columns={'Unnamed: 10':'Q12016', 'Unnamed: 11':'Q22016', 'Unnamed: 12':'Q32016', 'Unnamed: 13':'Q42016'}, inplace=True)
newincome.columns

Index(['Table 2.1. Personal Income and Its Disposition', 'Name', 'Q12014',
       'Q22014', 'Q32014', 'Q42014', 'Q12015', 'Q22015', 'Q32015', 'Q42015',
       'Q12016', 'Q22016', 'Q32016', 'Q42016'],
      dtype='object')

In [8]:
#Check for any null values
newincome.isnull().head()

,Table 2.1. Personal Income and Its Disposition,Name,Q12014,Q22014,Q32014,Q42014,Q12015,Q22015,Q32015,Q42015,Q12016,Q22016,Q32016,Q42016
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
#Check the shape of the table
newincome.shape

(48, 14)

In [10]:
newincome.isnull().sum()

Table 2.1. Personal Income and Its Disposition    0
Name                                              0
Q12014                                            4
Q22014                                            4
Q32014                                            4
Q42014                                            4
Q12015                                            4
Q22015                                            4
Q32015                                            4
Q42015                                            4
Q12016                                            4
Q22016                                            4
Q32016                                            4
Q42016                                            4
dtype: int64

In [38]:
#Check the personal income, compensation and wages for 2014 and 2015
twokfourteen = newincome[['Name', 'Q12014', 'Q22014', 'Q32014', 'Q42014','Q12015', 'Q22015', 'Q32015', 'Q42015']]
twokfourteen.head()

,Name,Q12014,Q22014,Q32014,Q42014,Q12015,Q22015,Q32015,Q42015
3,,2014,2014,2014,2014,2015,2015,2015,2015
4,,I,II,III,IV,I,II,III,IV
5,Personal income,14487.2,14718.1,14927.5,15106.2,15185.9,15401.9,15556.1,15690.2
6,Compensation of employees,9108.3,9173.8,9299.6,9432.1,9502.3,9637.6,9740,9892.4
7,Wages and salaries,7350.3,7405.7,7516.5,7632.8,7692,7808.8,7893.9,8024.6